<nav class="navbar-secundary navbar-expand-lg navbar-primary bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/alunos']">Alunos Home</a>
        <a class="nav-link" [routerLink]="['novo']">Cursos</a>
      </div>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col s12 m4 l3">
    <!-- Note that "m4 l3" was added -->
    <div class="col-md-auto">
      <div class="collection">
        <a
          class="collection-item"
          *ngFor="let aluno of alunos"
          [routerLink]="[aluno.id]"
        >
          {{ aluno.nome }}
        </a>
      </div>
    </div>
  </div>

  <div class="col s12 m8 l9">
    <!-- Note that "m8 l9" was added -->
    <div class="col-md-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
