<nav class="navbar-secundary navbar-expand-lg navbar-primary bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-link"  [routerLink]="['/']">Home</a> -->
        <a class="nav-link"  [routerLink]="['/curso']" [queryParams]="{pagina:1}">Cursos</a>
        <!-- <a class="nav-link"  [routerLink]="['/login']">Login</a> -->
        <!-- <a class="nav-link"  [routerLink]="['curso', idCurso.value]">Curso detalhe</a> -->
        <a class="nav-link"  [routerLink]="['/alunos']">Alunos</a>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <!-- <p>Entre com o id do curso</p>
  <input #idCurso> -->
  <router-outlet></router-outlet>
</div>




