

<nav *ngIf="mostrarMenu">
  <div class="nav-wrapper">
    <a [routerLink]="" class="brand-logo right">Angular Route</a>
    <ul class="left hide-on-med-and-down">
      <li><a [routerLink]="['/login']">Login</a></li>
      <li><a [routerLink]="['/curso']" [queryParams]="{pagina:1}">Cursos</a></li>
      <li><a [routerLink]="['/alunos']">Alunos</a></li>
      <!-- <li class="active"><a href="collapsible.html">JavaScript</a></li> -->
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <!-- <p>Entre com o id do curso</p>
  <input #idCurso> -->
  <router-outlet></router-outlet>
</div>




